*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color:#000;
    --secondary-color:#fff;
    --ternary-color:#999;
}

html {
    transition: all 0.5s ease-in;
}

html.dark {
    --primary-color:#fff;
    --secondary-color:#333;
    --ternary-color:#c8c8c8;
}

html.dark {
    background-color: #111;
    color: var(--primary-color);
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

.toggle {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 0;
    border-radius: 5px;
    padding: 1rem 2rem;
    position: absolute;
    top: 5%;
}

.toggle:focus {
    outline: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

h1{
    font-size: 12rem;
    text-align: center;
    opacity: 80%;
    color:#087f5b;
    margin-top: 12rem;

}

#form{
    max-width: 100%;
    margin-top: 6rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 50rem;
}


.input {
    font-size: 2.5rem;
    padding: 1.5rem 3rem;
    width: 100%;
    border: solid .3rem;
    border: none;
    display: block;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin-bottom: 2rem;
    border-bottom:.3rem solid #087f5b50; ;
}
.input:focus {
    outline-color: #4eb797;
  }

.input::placeholder {
   color: var(--ternary-color);
  }
  

.todo li {
    text-align: left;
    list-style-type: none;
    font-size: 2.5rem;
    color: #343a40;
    cursor: pointer;
    border-top: .3rem solid #087f5b50;
    padding: 1.5rem 3rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.todo li.completed {
    color: #b6b6b6;
    text-decoration: line-through;
}

small {
    font-size: 1.5rem;
    color: #b5b5b5;
    margin-top: 4rem;
    text-align: center;
}